fastapi==0.116.0
uvicorn[standard]==0.35.0
python-multipart==0.0.20

boto3==1.40.0
botocore==1.40.0
pandas==2.3.2
XlsxWriter==3.2.9

requests==2.32.4
PyYAML==6.0.2

azure-identity>=1.19.0
azure-mgmt-resource>=23.3.0
azure-mgmt-subscription>=3.1.1
azure-mgmt-compute>=33.1.0
azure-mgmt-network>=27.0.0
azure-mgmt-storage>=21.2.1
azure-mgmt-web>=7.2.0
azure-mgmt-containerservice>=30.0.0
azure-mgmt-containerregistry>=15.0.0
azure-mgmt-containerinstance>=10.1.0
azure-mgmt-sql>=3.0.0
azure-mgmt-cosmosdb>=9.6.0
